* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
}


form {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;

}

input {
    margin-top: 15px;
    margin-left: 10%;
    border-radius: 5px;
    font-size: 16px;
}



span {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

#name {
    height: 40px;
    width: 50%;
}

#lastname {
    height: 40px;
    width: 50%;

}

#email {

    height: 40px;
    width: 50%;
}

#ci {
    height: 40px;
    width: 50%;
}

select {
    margin-left: 10%;
    height: 40px;
    width: 40%;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 16px;
}

p {
    margin-left: 10%;
}

.btn_submit {
    height: 40px;
    width: 10%;
    border-radius: 10px;
    background-color: rgb(127, 201, 230);
    color: white;
    font-size: 15px;
    text-align: center;
    margin-left: 45%;
}

@media screen and (max-width:460px) {

    .btn_submit {
        height: 40px;
        width: 20%;
        border-radius: 10px;
        background-color: rgb(127, 201, 230);
        color: white;
        font-size: 15px;
        text-align: center;
        margin-left: 45%;
    }
}